---
layout: page
title: The Moviegoer
---
	
	<div id="pci" align="center"><h1>The Moviegoer</h1></div>

	<div id="feature-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
					{% assign post = site.tags.feature.first %}
					<div class="topstory">
						<div class="col-sm-12">
							<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" style="width: 100%;"></a>
							<div class="col-sm-offset-1 col-sm-10 spacebelow">
								<h3><a href="{{ post.url }}" class="linkblack">{{ post.title }}</a></h3>
								<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small> {{ post.author }}</h4>
							</div>
						</div>
					</div>
					{% for post in site.tags.feature offset: 1 limit: 2 %}
					<div class="topstory">
						<div class="col-sm-6">
							<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" style="width: 100%;"></a>
							<div class="col-sm-offset-1 col-sm-10 spacebelow">
								<h3><a href="{{ post.url }}" class="linkblack">{{ post.title }}</a></h3>
								<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small> {{ post.author }}</h4>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					{% include sidebar2.html %}
				</div>
			</div>
		</div>
	</div>

	<div id="movie-content">
		<div id="pcisubwhite"><h2 class="fancywhite"><span>Reviews</span></h2></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					{% include sidebar1.html %}
				</div>
				<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
					{% assign post = site.tags.movie.first %}
					<div class="topstory">
						<div class="col-sm-12">
							<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" style="width: 100%;"></a>
							<div class="col-sm-offset-1 col-sm-10 spacebelow">
								<h3><a href="{{ post.url }}" class="linkwhite">{{ post.title }}</a></h3>
								<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small> {{ post.author }}</h4>
							</div>
						</div>
					</div>
					{% for post in site.tags.movie offset: 1 limit: 2 %}
					<div class="topstory">
						<div class="col-sm-6">
							<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" style="width: 100%;"></a>
							<div class="col-sm-offset-1 col-sm-10 spacebelow">
								<h3><a href="{{ post.url }}" class="linkwhite">{{ post.title }}</a></h3>
								<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small> {{ post.author }}</h4>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div id="screening-banner" align="center">
		<div id="pcisub"><h2 class="fancy"><span>Next Screening</span></h2></div>
		<div class="container">
			<div class="row">
				{% assign post = site.tags.homepageevent.last %}
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
					<img src="{{ post.image }}" style="width: 100%;">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<h4>Meet the Penn Cinema Initiative at our next screening of</h4>
					<h3><i>{{ post.film }}</i></h3>
					<h3><small>{{ post.date | date: "%b %-d, %Y" }}</small></h3>
					<h3><small>Presentation at {{ post.time }}</small></h3>
					<h3><small>{{ post.location }}</small></h3>
				</div>
			</div>
		</div>
	</div>
