<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-7">
        <h5>The Moviegoer</h5>
        <p>A magazine on your screen. Curated by the members of the Penn Cienma Initiative, this website aims to build and foster a community of <i>Moviegoers</i> who like to indulge their minds and think about the films they watch. This is what this shouldn't read.</p>
      </div>
      <div class="col-sm-3">
        <h5>Sign up for the weekly newsletter here: </h5>
        <input type="email" class="form-control input-sm" id="emailinput" placeholder="Your email">
        <button id="signup">Signup</button>
        <h5>Find out more about us and how to get involved <a href"#" class="goldlink">here</a>.</h5>
      </div>
    </div>
    <div align="center">
      <h5>Connect with us on social media:</h5>
      <a href="http://facebook.com"><img src="/images/Facebook-Logo.png" class="footerimg"></a>
      <a href="http://twitter.com"><img src="/images/Twitter-Logo.png" class="footerimg"></a>
    </div>
  </div>
  <div align="center">&copy; Penn Cinema Initiative</div>
</div>