<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <h5>The Moviegoer</h5>
        <p>The Moviegoer is a student-run blog dedicated to film appreciation - posting film analyses, reviews, previews, and all things related. We seek to build a film community on-campus and online through collaboration as well as other PCI-sponsored initiatives. If you would like to work with us, please find out more under the <a href="/about" class="afooter">about</a> tab.</p>
      </div>
      <!--<div class="col-sm-3">
        <h5>Sign up for the weekly newsletter here: </h5>
        <input type="email" class="form-control input-sm" id="emailinput" placeholder="Your email">
        <button id="signup">Signup</button>
        <h5>Find out more about us and how to get involved <a href"#" class="goldlink">here</a>.</h5>
      </div>-->
    </div>
    <div align="center">
      <!--<h5>Connect with us on social media:</h5>-->
      <a href="http://www.facebook.com/pages/Penn-Cinema-Initiative/1536055873314021"><img src="/images/Facebook-Logo.png" class="footerimg"></a>
      <!--<a href="http://twitter.com"><img src="/images/Twitter-Logo.png" class="footerimg"></a>-->
    </div>
  </div>
  <div align="center">&copy; Penn Cinema Initiative</div>
</div>