<div id="header" align="center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h4><a href="/" class="pcilogotext">The Moviegoer</a></h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/features" class="headeritem">Features</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/movies" class="headeritem">Movies</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/events" class="headeritem">Events</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/about" class="headeritem">About</a></h5>
      </div>
    </div>
  </div>
</div>
<div id="headernonfix" align="center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h4><a href="/" class="pcilogotext">The Moviegoer</a></h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/features" class="headeritem">Features</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/movies" class="headeritem">Movies</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/events" class="headeritem">Events</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <h5><a href="/about" class="headeritem">About</a></h5>
      </div>
    </div>
  </div>
</div>