<!--<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>-->
<head>
	<title>{% if page.cleantitle %}{{ page.cleantitle }}{% else if page.title%}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- AJAX -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- My Style -->
	<link rel="stylesheet" href="/stylesheets/style.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/PCIfavicon.png"> 

	<!-- OG -->
	<meta property="og:title" content="Penn Moviegoer">
	<meta property="og:site_name" content="Penn Moviegoer">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:image" content="{{ site.url }}/images/tmgsmall.png">
	<meta property="og:image:height" content="315">
	<meta property="og:image:width" content="600">
	<meta property="og:type" content="website">
	<meta property="og:description" content="The Moviegoer is a student-run blog dedicated to film appreciation.">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>