<div id="header" align="center">
  <div class="container-fluid">
    <div class="row">
      <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4><a href="/" class="pcilogotext"><img src="/images/croppedlogo.png" class="headerlogo"></a></h4>
        <a href="/" class="pcilogotext"><img src="/images/moviegoer_white.png" class="headerlogo"></a>
      </div>-->
      <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
        <h5 class="headerh5" id="features"><a href="/features" class="headeritem">Features</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 class="headerh5" id="movies"><a href="/movies" class="headeritem">Movies</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><a href="/" class="pcilogotext"><img src="/images/croppedlogo.png" class="headerlogo"></a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 class="headerh5" id="events"><a href="/events" class="headeritem">Events</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 class="headerh5" id="about"><a href="/about" class="headeritem">About</a></h5>
      </div>
    </div>
  </div>
</div>
<div id="headernonfix" align="center">
  <div class="container-fluid">
    <div class="row">
      <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4><a href="/" class="pcilogotext"><img src="/images/croppedlogo.png" class="headerlogo"></a></h4>
        <a href="/" class="pcilogotext"><img src="/images/moviegoer_white.png" class="headerlogo"></a>
      </div>-->
      <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
        <h5 class="headerh5"><a href="/features" class="headeritem">Features</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 class="headerh5"><a href="/movies" class="headeritem">Movies</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><a href="/" class="pcilogotext"><img src="/images/croppedlogo.png" class="headerlogo"></a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 class="headerh5"><a href="/events" class="headeritem">Events</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 class="headerh5"><a href="/about" class="headeritem">About</a></h5>
      </div>
    </div>
  </div>
</div>