<div class="sidebar">
    <div id="upcomingbar" align="center">
        <h4>Popular</h4>
    </div>
    
    <div class="event">
        <a href="/2015/11/26/NightBeforeRev.html"><img src="/images/nightbef.jpg" style="width: 100%;"></a>
        <a href="/2015/11/26/NightBeforeRev.html" class="linkblack"><h5 style="margin-bottom: 4px;">Review: <i>The Night Before</i></h5></a>
        <h4 style="margin-top: 4px;"><small>Ritwik Bhatia (Nov 26, 2015)</small></h4>
    </div>
    
    <div class="event">
        <a href="/2015/11/10/SpectreRev.html"><img src="/images/FFP/spectre_alt.jpg" style="width: 100%;"></a>
        <a href="/2015/11/10/SpectreRev.html" class="linkblack"><h5 style="margin-bottom: 4px;">Review: <i>Spectre</i></h5></a>
        <h4 style="margin-top: 4px;"><small>Ritwik Bhatia (Nov 10, 2015)</small></h4>
    </div>
    
    <div class="event">
        <a href="/2015/11/14/lobster.html"><img src="/images/lobster.jpg" style="width: 100%;"></a>
        <a href="/2015/11/14/lobster.html" class="linkblack"><h5 style="margin-bottom: 4px;">PFF Review: <i>The Lobster</i></h5></a>
        <h4 style="margin-top: 4px;"><small>Eric Eisner (Nov 14, 2015)</small></h4>
    </div>
    
</div>
