<div class="sidebar">
    <div id="upcomingbar" align="center">
        <h4>Popular</h4>
    </div>
    
    <div class="event">
        <a href="/2015/12/03/windrises.html"><img src="/images/windrises.jpg" style="width: 100%;"></a>
        <a href="/2015/12/03/windrises.html" class="linkblack"><h5 style="margin-bottom: 4px;"><i>The Wind Rises</i>... We Must Try to Live</h5></a>
        <h4 style="margin-top: 4px;"><small>Eric Eisner (Dec 3, 2015)</small></h4>
    </div>
    
    <div class="event">
        <a href="/2015/11/27/InsideOutRev.html"><img src="/images/insideout.jpg" style="width: 100%;"></a>
        <a href="/2015/11/27/InsideOutRev.html" class="linkblack"><h5 style="margin-bottom: 4px;">Review: <i>Inside Out</i></h5></a>
        <h4 style="margin-top: 4px;"><small>Brad Pettigrew (Nov 27, 2015)</small></h4>
    </div>
    
    <div class="event">
        <a href="/2015/11/26/NightBeforeRev.html"><img src="/images/nightbef.jpg" style="width: 100%;"></a>
        <a href="/2015/11/26/NightBeforeRev.html" class="linkblack"><h5 style="margin-bottom: 4px;">Review: <i>The Night Before</i></h5></a>
        <h4 style="margin-top: 4px;"><small>Ritwik Bhatia (Nov 26, 2015)</small></h4>
    </div>
    
</div>
