@font-face {
	font-family: limelight;
	src: url('../fonts/Limelight.ttf') format('truetype');
}

@font-face {
	font-family: timeburner;
	src: url('../fonts/timeburner.ttf') format('truetype');
}

html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    background-color: #f5f2ed;
}

#header {
	font-family: timeburner;
	min-height: 10%;
	background-color: #2B292B;
	color: #c29d52;/*#D3605C;*/
}

#header > ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	margin: auto;
}

#header > ul > li {
	float: left;
	width: 15%;
	padding-top: 15px;
}

#pcilogo, #lipadding {
	width: 20% !important;
}

.pcilogotext, .pcilogotext:hover, .pcilogotext:active, .pcilogotext:after {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

.headeritem {
	text-decoration: none;
	color: inherit;
}

.headeritem:hover, .headeritem:active {
	text-decoration: none;
	color: #fff;
}

#pci {
	font-family: timeburner;
	padding-top: 30px;
	color: #2B292B;
}