@font-face {
	font-family: limelight;
	src: url('../fonts/Limelight.ttf') format('truetype');
}

@font-face {
	font-family: timeburner;
	src: url('../fonts/timeburner.ttf') format('truetype');
}

html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    background-color: #f5f2ed;
}

#header {
	font-family: timeburner;
	min-height: 8%;
	background-color: #2B292B;
	color: #c29d52;/*#D3605C;*/
	padding-top: 15px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#headernonfix {
	font-family: timeburner;
	min-height: 8%;
	background-color: #2B292B;
	color: #c29d52;/*#D3605C;*/
	padding-top: 15px;
	width: 100%;
}

.pcilogotext, .pcilogotext:hover, .pcilogotext:active {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

.headeritem {
	text-decoration: none;
	color: inherit;
}

.headeritem:hover, .headeritem:active {
	text-decoration: none;
	color: #fff;
}

#pci {
	font-family: timeburner;
	color: #2B292B;
	padding-bottom: 16px;
}

#movie-content {
	width: 100%;
	background-color: #6A6A6A;
	padding-top: 8px;
	color: #f5f2ed;
}

#feature-content, #movie-content {
	padding-bottom: 16px;
}

small {
	color: #c29d52 !important;
}

#upcomingbar, #layouts {
	color: #c29d52 !important;
	background-color: #2B292B;
	font-family: timeburner;
	padding-top: 8px;
	padding-bottom: 8px;
}

#layouts p {
	color: #f5f2ed;
}

.event {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

#screening-banner {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 16px;
	background-color: #f5f2ed;
}

#pcisub {
	font-family: timeburner;
	color: #2B292B;
	padding-bottom: 8px;
}

#pcisubwhite {
	font-family: timeburner;
	color: #f5f2ed;
	padding-bottom: 8px;
}

.fancy, .fancywhite {
  text-align: center;
  line-height: 0.38;
}
.fancy span, .fancywhite span {
  display: inline-block;
  position: relative;  
}
.fancy span:before, .fancy span:after, 
.fancywhite span:before, .fancywhite span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #2B292B;
  border-top: 1px solid #2B292B;
  top: 0;
  width: 150px;
}
.fancy span:before, .fancywhite span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after, .fancywhite span:after {
  left: 100%;
  margin-left: 15px;
}

.fancywhite span:before, .fancywhite span:after  {
  border-bottom: 1px solid #f5f2ed !important;
  border-top: 1px solid #f5f2ed !important;
}
