---
layout: page
title: Features
---

	<div id="pci" align="center"><h1>Features</h1></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				{% for post in site.tags.feature %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="feature-story">
						<div class="row">
							<div class="col-sm-8 col-xs-12">
								<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" style="width: 100%;"></a>
							</div>
							<div class="col-sm-4 col-xs-12">
								<h3><a href="{{ post.url }}" class="linkblack">{{ post.title }}</a></h3>
								<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small> {{ post.author }}</h4>
								<p>This is a description of the article mentioned. A little brief is what it is. Let's spark the reader's interest!</p>
							</div>
						</div>
					</div>
					{% else %}
					<div class="feature-story">
						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<h3><a href="{{ post.url }}" class="linkblack">{{ post.title }}</a></h3>
								<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small> {{ post.author }}</h4>
								<p>This is a description of the article mentioned. A little brief is what it is. Let's spark the reader's interest!</p>
							</div>
							<div class="col-sm-8 col-xs-12">
								<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" style="width: 100%;"></a>
							</div>
							
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
