---
layout: default
---
<div class="post">

<div class="container">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.authorurl != "" %} • <a href="{{ site.url }}{{ page.authorurl }}" class="afooter">{{ page.author }}</a>{% else if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

    <div class="row">
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
			{% if page.displayimage == "yes" %}<img src="{% if page.image %}{{ page.image }}{% endif %}" class="postimg">{% endif %}
			<div class="posttxt">
				{{ content }}
			</div>
			<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5"></div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			{% include sidebar3.html %}
		</div>
    </div>
</div>
</div>
